$theme-mobile-breakpoint: 935px;
$theme-color-dark1: #202124;
$theme-color-dark2: #303136;
$theme-color-text-mid: #d2d3d7;
$theme-color-text-mid2: #bfbfbf;
$theme-color-action1: #C38FFF;
$theme-color-action2: #03DAC6;
$theme-color-highlight: $theme-color-action2;