/*
https://developer.mozilla.org/en-US/docs/Web/CSS/@media/prefers-color-scheme

darkmode switch
@media (prefers-color-scheme: dark) {
  .day.dark-scheme {
    background: #333;
    color: white;
  }
  .night.dark-scheme {
    background: black;
    color: #ddd;
  }
}

@media (prefers-color-scheme: light) {
  .day.light-scheme {
    background: white;
    color: #555;
  }
  .night.light-scheme {
    background: #eee;
    color: black;
  }
}
*/

/** Dark theme **/

$theme-mobile-breakpoint: 935px;
$theme-color-body-text: #ffffff;
$theme-color-dark1: #202124;
$theme-color-dark2: #303136;
$theme-color-dark3: #16141c;
$theme-color-dark4: #08080b;
$theme-color-text-mid: #d2d3d7;
$theme-color-text-mid2: #bfbfbf;
$theme-color-text-dim: #3b3b5f;
$theme-color-action1: #c38fff;
$theme-color-action2: #03dac6;
$theme-color-highlight: $theme-color-action2;

/**Light theme **/

/**
$theme-mobile-breakpoint: 935px;
$theme-color-body-text: black;
$theme-color-dark1: #ffffff;
$theme-color-dark2: #ffffff;
$theme-color-dark3: #f8f7fc;
$theme-color-dark4: #ffffff;
$theme-color-text-mid: black;
$theme-color-text-mid2: #bfbfbf;
$theme-color-text-dim: #3b3b5f;
$theme-color-action1: #c38fff;
$theme-color-action2: #03dac6;
$theme-color-highlight: $theme-color-action2;

**/
