$theme-mobile-breakpoint: 935px;
$theme-color-dark1: #202124;
$theme-color-dark2: #303136;
$theme-color-dark3: #16141c;
$theme-color-dark4: #08080b;
$theme-color-text-mid: #d2d3d7;
$theme-color-text-mid2: #bfbfbf;
$theme-color-text-dim: #3b3b5f;
$theme-color-action1: #c38fff;
$theme-color-action2: #03dac6;
$theme-color-highlight: $theme-color-action2;
