.navigation {
  border-bottom: 1px solid rgba(255, 255, 255, 0.08);
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  background-color: $theme-color-dark3;
  z-index: 100;
  &__overlay {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    display: none;
  }
  &__innerWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  &__spacer {
    padding: 3rem 0rem;
  }
  &__mobileMenu {
    gap: 20px;
    align-items: center;
  }
  &__mobileMenu,
  &__logoWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__logoWrapper a {
    padding: 0;
    margin: 0;
  }

  &__itemsWrapper {
    flex-grow: 1;
  }
  &__items {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    list-style-type: none;
    padding: 0;
  }
  &__hamburgerWrapper {
    display: none;
  }
  &__checkbox {
    display: none;
  }

  &__item {
    white-space: nowrap;
  }
  &__link {
    color: $theme-color-text-mid;
    margin-left: 10px;
    text-decoration: none;
  }
  &__spacer {
  }
}

@include mobile() {
  .navigation {
    padding: 0;
    &__innerWrapper {
      flex-direction: column;
    }
    &__items {
      flex-direction: column;
      gap: 40px;
      padding: 2rem 0rem;
      display: none;
    }
    &__hamburgerWrapper {
      display: block;
      font-size: 2rem;
    }
    &__mobileMenu {
      display: flex;
      justify-content: space-between;
    }
    &__checkbox:checked ~ & &__innerWrapper &__items {
      display: flex;
    }
    &__checkbox:checked ~ &__overlay {
      display: block;
    }
  }
}
