/** Color scheme definitions **/

@import "variables";
@import "mixins";
@import "~react-image-gallery/styles/scss/image-gallery.scss";

/** Fonts **/

@font-face {
  font-family: "Google Sans Regular";
  src: url("./fonts/Google-Sans/Google-Sans-Regular.woff2");
}

@font-face {
  font-family: "Google Sans Bold";
  src: url("./fonts/Google-Sans/Google-Sans-Bold.woff2");
}

body {
  font-family: "Google Sans Regular";
  color: $theme-color-body-text;
  // background: url("../images/blob-bg.png"), $theme-color-dark4;
  background: $theme-color-dark4;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0;
  margin: 0;
  font-size: 1.1rem;
  overflow-x: hidden;
}
.bg-theme-color-dark3 {
  background-color: $theme-color-dark3;
}
p {
  line-height: 1.8rem;
}
.flex {
  display: flex;
}
.flex-center {
  justify-content: center;
  align-items: center;
}
.websiteLogo {
  width: 175px;
}
.pageBoundary {
  max-width: 1200px;
  padding-left: 3rem;
  padding-right: 3rem;
  margin: 0 auto;
}
/** Page headers **/
.superHeader {
  min-height: 60vh;
  display: flex;
  align-items: center;
}
.superHeader__contentWrapper {
  flex-direction: column;
  justify-content: center;
}
.pageSection {
  margin: 4rem 0rem;
  padding: 2rem 0rem;
}
/** End Page Headers **/

.display-none {
  display: none;
}
.filter-brightness-hover {
  transition: filter 0.3s ease-in-out 0s;
}
.filter-brightness-hover:hover {
  filter: brightness(1.4);
}
.image-gallery-content {
  max-width: 95vw;
  margin: 0 auto;
}

/** Title tags **/

.contentHeading {
  font-weight: 100;
  overflow-wrap: break-word;
}
.contentHeading--bold {
  font-weight: 600;
}
.contentHeading__citation {
  font-size: 1rem;
}

.link.link--underlined {
  color: $theme-color-action2;
  text-underline-offset: 6px;
}

h1.contentHeading {
  font-size: 3rem;
}

h2.contentHeading {
  font-size: 2.5rem;
}

h3.contentHeading {
  font-size: 1.5rem;
}

h4.contentHeading {
  text-align: center;
  border-top: 1px solid $theme-color-dark2;
  border-bottom: 1px solid $theme-color-dark2;
  padding: 1rem;
}

.caption {
  color: $theme-color-text-mid2;
  font-size: 1rem;
}

/** End title tags **/

/** Buttons **/

.btn {
  padding: 0.75rem 1.25rem;
  font-size: 1.25rem;
  cursor: pointer;
}
.btn:disabled {
  border: 3px solid grey;
  color: grey;
}
.btn--outline {
  background: none;
  border: 3px solid $theme-color-action1;
  color: $theme-color-action1;
}

/** End Buttons **/

.sectionGrid {
  display: grid;
  padding-top: 1rem;
  padding-bottom: 1rem;
  gap: 2rem;
}
.sectionGrid__cell {
  padding: 1rem;
}
.sectionGrid__cell--outline {
  border: 2px solid $theme-color-action2;
  border-radius: 20px;
}
.sectionGrid__image {
  margin: 2rem 0rem;
}
.sectionGrid--2col {
  grid-template-columns: 1fr 1fr;
}

.text-align-center {
  text-align: center;
}
.margin-0-auto {
  margin: 0 auto;
}
.highlight {
  background-color: $theme-color-highlight;
  color: black;
  padding: 2px 4px;
  margin-left: 5px;
  margin-right: 5px;
}
.list {
  margin: 0 auto;
}
.list--large li {
  margin: 1rem 0rem;
  font-size: 1.5rem;
}
.list--large {
}
.wrapText {
  overflow-wrap: anywhere;
}
.tooltip {
  position: relative;
  cursor: pointer;
  display: inline-block;
  // border-bottom: 1px dotted black;
}
.image--max-width-100 {
  max-width: 100%;
}
.margin-0-auto {
  margin: 0 auto;
}
.tooltip--centerVertically {
  margin-top: -10px;
  position: absolute;
  display: inline-block;
}
.tooltiptext {
  visibility: hidden;
  // pointer-events: none;
}
.tooltip .tooltiptext {
  opacity: 0;
  width: 120px;
  background-color: $theme-color-dark2;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px;
  transition: opacity 0.3s ease-in-out 0.3s, visibility 0s ease 0.5s;
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}
.tooltip .tooltiptext {
  width: 300px;
  bottom: calc(100% + 10px);
  left: 0;
  // margin-left: -60px; /* Use half of the width (120/2 = 60), to center the tooltip */
}
.tooltip:hover .tooltiptext,
.tooltiptext:hover {
  // pointer-events: unset;
  visibility: visible;
  opacity: 1;
}

.youtubeEmbed {
  margin: 0 auto;
  display: block;
  max-width: 100%;
  // max-width: 800px;
  // min-height: 400px;
}
.audioContainer {
  background-color: $theme-color-dark2;
  border-radius: 10px;
  padding: 1rem;
  text-align: center;
  max-width: 400px;
  margin: -0 auto;
}
.quote {
  font-size: 1.5rem;
  font-style: italic;
}
@include mobile() {
  body {
    background: $theme-color-dark4;
  }
  .pageBoundary {
    padding: 1rem;
  }
  .sectionGrid {
    grid-template-columns: 1fr;
  }
  .sectionGrid__image {
    width: 100%;
  }
  .sectionGrid--reverseOnMobile {
    display: flex;
    flex-direction: column-reverse;
  }
  .sectionGrid__cell--outline {
    border: 0px;
  }
  .btn--fullWidthOnMobile {
    width: 100%;
  }
}

@import "Navigation.scss";
@import "Footer.scss";
@import "AddressBar.scss";
@import "Email.scss";
@import "Spinners-loaders.scss";
